html {
    background: rgba(175,255,93,0.64);
    margin: 20px;
}

h1 {
    text-align: center;
}

/* Tables */

table {
    border-collapse: collapse;
    vertical-align: top;
}

table.list {
    max-width: 40%;
    background-color: #fdfbe0;
}

table.list th {
    padding-left: 5px;
    padding-right: 5px;
    min-width: 55px;
}

table.list tr td {
    border: 2px solid black;
    padding: 5px;
}

table.list tr th {
    border: 2px solid #000000;
    background: #ddcb8f;
    text-align: left;
}

#table_number {
    text-align: center;
}

#long_text {
    min-width: 200px;
}

#food_group {
    min-width: 120px;
}

#table_button {
    border: none;
    background: #fdfbe0;
    font-size: 15pt;
    cursor: pointer;
}

/* Forms */

dt {
    float: left;
    font-weight: bold;
    width: 150px;
}

.slider {
    appearance: none;
    width: 300px;
    height: 25px;
    background: lightgrey;
    outline: none;
    border-radius: 12px;
}

.slider::-webkit-slider-thumb {
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: black;
    cursor: pointer;
}

#range_value {
    text-align: center;
    font-size: 20pt;
}

#edit_profile {
    float: left;
    width: 140px;
}

/* Misc. Buttons */

#profile_button {
    width: 100px;
}

#add_food_button {
    font-size: 20px;
    width: 110px;
    cursor: pointer;
}

#search_button {
    font-size: 20px;
    cursor: pointer;
}

#back_button {
    font-size: 20px;
    cursor: pointer;
}

/* Misc. */

#error_message {
    font-weight: bold;
    font-size: 14pt;
    font-family: "Courier New", serif;
    color: #5a5a5a;
}

#message {
    font-weight: bold;
    font-size: 14pt;
    font-family: "Courier New", serif;
    color: #5a5a5a;
}

#nav_bar {
    border-style: solid;
    border-width: 0.5pt;
    text-align: center;
    font-size: 20px;
    background: #fff7e0;
    padding: 10px;
}

#row {
    display: flex;
    margin: 20px;
}

#column {
    flex: 50%;
    margin-left: 10%;
}

#search_bar {
    margin-bottom: 5px;
    font-size: 20px;
}